[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=vagrant
Group=vagrant
WorkingDirectory=/vagrant
ExecStart=/bin/bash -lc 'bundle exec puma -C /vagrant/config/puma.rb'
ExecStop=/bin/bash -lc 'bundle exec pumactl -s /vagrant/shared/pids/puma.state'
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
